@media screen and (min-width: 0px){
    .adminVacancyBody{
        margin: 1rem;
    }
    .profile img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .profile h2{
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 18px;
    }
}

@media screen and (min-width: 600px){
    .adminVacancyBody{
        margin: 1.5rem;
    }
    .profile img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .profile h2{
        font-weight: 400;
        line-height: 28px;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px){
    .adminVacancyBody{
        margin: 2rem 3rem 2rem 3rem;
    }
    .profile img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .profile h2{
        font-weight: 400;
        line-height: 60px;
        font-size: 1.5rem;
    }
}

.profile{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
    align-items: center;
}

@media screen and (min-width: 1000px){
    .mainContainer{
        padding: 20px 10px;
        margin-top: 3rem;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    .MainContainer{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .mainContainer{
        display: none;
    }
}