.authBody {
    background-image: url("../assets/bg.svg");
    /* background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;*/
    background-size: 100%;
}

.authContainer .logo{
    position: absolute; 
    top: 1rem; 
    left: 1rem;
}
.authContainer .logo1{
  position: absolute; 
  top: 1rem; 
  right: 1rem;
}

@media screen and (max-width: 800px){
    .authContainer .logo{
        top: 0.8rem; 
        left: 0.8rem;
        /* display: flex;
        justify-content: space-between; */
    }
    .authContainer .logo1{
      top: 0.8rem; 
      right: 0.8rem;
      /* display: flex;
      justify-content: space-between; */
  }
}
.authContainer .logo img, .authContainer .logo1 img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.authContainer {
    min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authContainer .maincontainer {
    width: 90vw;
    margin: 7rem auto;
    background: #ffffff;
    border-radius: 0.25rem;
    padding: 0rem;
    max-width: 1142px;
    display: grid;
    max-height: 100vh;
  }
  .authContainer .container1{
    background: #242D4E;
    width: 100%;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .authContainer .container2{
    background: #ffffff;
    width: 100%;
    border-radius: 0 0.25rem 0.25rem 0;
    margin: auto auto;
  }
  .authContainer .container2 h2 {
    text-align: center;
  }
  .authContainer .container1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media screen and (min-width: 900px) {
    .authContainer .maincontainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .authContainer #welcome p{
      font-size: 1.5rem;
    }
    .authContainer .underline{
      width: 4.5rem;
      height: 2px;
      background: #868282;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
      margin-top: 1.3rem;
    }
  }
  @media screen and (max-width: 900px){
    .authContainer .container1{
      display: none;
    }
    .authContainer .container2{
      border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    .authContainer .underline{
      width: 3.125rem;
      height: 2px;
      background: #868282;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
      margin-top: 1.3rem;
    }
    .authContainer .form{
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .authContainer .container2 h2{
    font-weight: 400;
    color: #4D4D4D;
    line-height: 43px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .authContainer #welcome{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.25rem;
  }
  .authContainer #welcome p{
    font-size: 1.25rem;
    line-height: 28.8px;
    color: #313030;
    opacity: 30%;
  }
  .authContainer .userTypes{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: -1rem;
    padding-right: 20px;
  }
  .authContainer .form{
    width: 100%;
    max-width: 350px;
    min-width: 100px;
    margin: 1rem auto;
    padding: 0 1rem;
    
  }
  .authContainer fieldset{
    border: none;
  }
  .authContainer input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 3rem;
    font-size: 1rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: 2px solid #efefef;
    border-radius: 0.5rem;
    color: #444444;
    font-family: 'Poppins';
  }
  .authContainer input:focus{
    outline: none;
  }
  .authContainer button{
    width: 100%;
    margin-top: 10px;
    min-height: 2.8rem;
    font-size: 1.3rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.5rem;
    color: #ffffff;
    background-color: #1A1AFF;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat';
  }
    .authContainer .button1{
    width: 100%;
    margin-top: 16px;
    min-height: 3rem;
    font-size: 1.1rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.5rem;
    color: #ffffff;
    background-color: #1A1AFF;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat';
  }
  .authContainer .button2{
    display: none;
  }