@media screen and (min-width: 0px){
    .supervisorManageUsersBody{
        margin: 1rem;
    }
}

@media screen and (min-width: 600px){
    .supervisorManageUsersBody{
        margin: 1.5rem;
    }
}

@media screen and (min-width: 1000px){
    .supervisorManageUsersBody{
        margin: 2rem 3rem 2rem 3rem;
    }
}


@media screen and (min-width: 1001px){
    .supervisorManageUsersBody .mainContainer{
        padding: 20px 10px;
        margin-top: 3rem;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    .supervisorManageUsersBody .MainContainer{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .supervisorManageUsersBody .mainContainer{
        display: none;
    }
}

.supervisorManageUsersBody .manageUserContainer{
    margin: 5rem auto;
}
.supervisorManageUsersBody .manageUserContainer .form{
    display: grid;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
}
.supervisorManageUsersBody .form label{
    font-size: 12px;
    color: #4C4C4C;
}
.supervisorManageUsersBody .form input, .supervisorManageUsersBody .form select{
    font-size: 13px;
    font-family: "Poppins";
}

.supervisorManageUsersBody input, .supervisorManageUsersBody .form select{
    border: none;
    font-family: 'Poppins';
    background-color: #FAFAFA;
    width: 100%;
    padding: 6px 8px 6px 8px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
.supervisorManageUsersBody input:focus, .supervisorManageUsersBody select:focus{
    outline: none;
}
.supervisorManageUsersBody button{
    margin: 4rem auto;
    display: flex;
    border: none;
    width: 140px;
    text-align: center;
    justify-content: center;
    padding: 8px 0;
    font-family: "Poppins";
    color: #ffffff;
    background-color: #1A7AE0;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 6px #7c8388;
}

@media screen and (min-width: 801px){
    .supervisorManageUsersBody .formContainer{
        display: flex;
        flex-flow: row wrap;
        column-gap: 2rem;
    }
    .supervisorManageUsersBody .formContainer1{
        display: flex;
        flex-flow: row wrap;
        column-gap: 2rem;
        margin-top: 5rem;
    }
    .supervisorManageUsersBody .input{
        background-color: #FAFAFA;
        /* min-width: 250px; */
        width: 350px;
        max-width: 450px;
    }
}

@media screen and (max-width: 800px){
    .supervisorManageUsersBody .formContainer{
        display: block;
        width: 100%;
    }
    .supervisorManageUsersBody .formContainer1{
        display: block;
        width: 100%;
    }
    .supervisorManageUsersBody .input{
        background-color: #FAFAFA;
        margin-bottom: 1rem;
        width: 100%;
        /* max-width: 300px; */
    }
    .supervisorManageUsersBody .manageUserContainer .form{
        display: block;
    }
    .supervisorManageUsersBody button{
        margin-top: 2rem;
    }
}