@media screen and (min-width: 0px){
    .adminApplicantsBody{
        margin: 1rem;
        margin-bottom: 3rem;
    }
    .adminApplicantsBody .profile img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .adminApplicantsBody .profile h2{
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 18px;
    }
}

@media screen and (min-width: 600px){
    .adminApplicantsBody{
        margin: 1.5rem;
        margin-bottom: 4rem;
    }
    .adminApplicantsBody .profile img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .adminApplicantsBody .profile h2{
        font-weight: 400;
        line-height: 28px;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1001px){
    .adminApplicantsBody{
        margin: 2rem 3rem 2rem 3rem;
    }
    .adminApplicantsBody .profile img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .adminApplicantsBody .profile h2{
        font-weight: 400;
        line-height: 60px;
        font-size: 1.5rem;
    }
}

.adminApplicantsBody .profile{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
    align-items: center;
}

@media screen and (min-width: 1001px){
    .adminApplicantsBody .mainContainer{
        padding: 20px 10px;
        margin-top: 3rem;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    .adminApplicantsBody .MainContainer{
        display: none;
    }
    .adminApplicantsBody .mainApplicantsBody{
        display: flex;
        flex-flow: row wrap;
        column-gap: 20px;
        flex: 4;
        row-gap: 0.5rem;
        margin-left: 2rem;
        margin: -2rem 0 auto 2rem;
    }
    .adminApplicantsBody .applicantsSearch{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        flex: 1;
        width: 100%;
        align-content: center;
    }
    .adminApplicantsBody .applicantsSearch form{
        justify-items: center;
        background-color: #E6E6E6;
        height: 0;
    }
    .adminApplicantsBody .applicantsSearch span{
        position: absolute;
    }
    .adminApplicantsBody input{
        border: none;
        font-family: 'Poppins';
        background-color: #FAFAFA;
        width: 100%;
        padding: 8px 5px 8px 2.7rem;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
    }
    .adminApplicantsBody input:focus{
        outline: none;
    }
}

@media screen and (max-width: 1000px){
    .adminApplicantsBody .mainContainer{
        display: none;
    }
    .adminApplicantsBody .mainApplicantsBody{
        display: flex;
        flex-flow: row ;
        margin-top: 2.1rem;
    }
    .adminApplicantsBody .applicantsSearch{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        /* flex: 1; */
        width: 100%;
        column-gap: 3rem;
        row-gap: 6px;
        /* align-content: center; */
    }
    .adminApplicantsBody .applicantsSearch form{
        /* justify-items: center; */
        background-color: #E6E6E6;
        height: 0px;
        /* position: absolute; */
        margin-bottom: 3rem;
    }
    .adminApplicantsBody .applicantsSearch span{
        position: absolute;
    }
    .adminApplicantsBody input{
        border: none;
        font-family: 'Poppins';
        background-color: #FAFAFA;
        width: 100%;
        padding: 8px 5px 8px 2.7rem;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
    }
    .adminApplicantsBody input:focus{
        outline: none;
    }
    .adminApplicantsBody button{
        margin-bottom: 1rem;
    }
}

.adminApplicantsBody table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
  }
  
  .adminApplicantsBody .applicantsdeets td, .adminApplicantsBody .applicantsdeets th {
    border-bottom: 1px solid #F2F2F2;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 12px 8px 12px 8px;
    white-space: nowrap;
  }
  .adminApplicantsBody .applicantsdeets td{
    color: #808080;
  }
  
  .adminApplicantsBody .applicantsdeets th {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: left;
    background-color: #F2F2F2;
    color: #4C4C4C;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  .adminApplicantsBody .table{
    width: 100%;
    overflow-x: auto;
  }
  .adminApplicantsBody .verified{
    padding: 4px;
    background-color: #DEEDE5;
    border-radius: 4px;
    color: #427A5B;
  }
  .adminApplicantsBody .pending{
    padding: 4px;
    background-color: #FDF8CE;
    border-radius: 4px;
    color: #938406;
  }

  .adminApplicantsBody button{
    border: none;
    width: 140px;
    /* padding: 8px 0; */
    font-family: "Poppins";
    color: #ffffff;
    background-color: #1A7AE0;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 6px #7c8388;
    height: 38px;
  }